<!-- Nav/Header -->
<nav>
    <div class="navbar-background"></div>

    <ul class="flexcontainer-navbar" data-visible="false">
        <li class="nav-item">
            <a href="/all-recipes" class="nav-link">
                <span class="link-text">All Recipes</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/recipe/create" class="nav-link">
                <span class="link-text">Create</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/my-recipes" class="nav-link">
                <span class="link-text">My Recipes</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/saved-recipes" class="nav-link">
                <span class="link-text">Saved Recipes</span>
            </a>
        </li>
        <li class="nav-item">
            <% if( typeof currentUser === 'undefined') { %>
            <a href="/login" class="nav-link">
                <span class="link-text">Login</span>
            </a>
            <% } else { %>
            <a href="/logout" class="nav-link">
                <span class="link-text">Logout</span>
            </a>
            <% } %>
        </li>
    </ul>

    <button id="toggle-nav" menu-openend="false"></button>
</nav>

