<!-- Nav/Header -->
<nav class="navbar">
    <ul class="flexcontainer-navbar">
        <li class="nav-item">
            <a href="/" class="nav-link">
                <span class="link-text">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/about" class="nav-link">
                <span class="link-text">About</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/recipe/create" class="nav-link">
                <span class="link-text">Create</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/my-recipes" class="nav-link">
                <span class="link-text">My Recipes</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/saved-recipes" class="nav-link">
                <span class="link-text">Saved Recipes</span>
            </a>
        </li>
        <li class="nav-item">
            <% if( typeof currentUser === 'undefined') { %>
            <a href="/login" class="nav-link">
                <span class="link-text">Login</span>
            </a>
            <% } else { %>
            <a href="/logout" class="nav-link">
                <span class="link-text">Logout</span>
            </a>
            <% } %>
        </li>
    </ul>
</nav>