<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>
        <%- include('./partials/heading.ejs') %>

            <main>

                <p>This is a Website to save, create and share cooking recipes.</p>

            </main>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>