<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <h1>About</h1>

    <p>This is a Website to save, create and share cooking recipes.</p>
    
    
    <%- include('./partials/footer.ejs') %>

</body>
</html> 