<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/head.ejs') %>

            <main>

                <form id="formlogin" class="form" action=""><!-- Anfang Formular -->

                    <h1>Login</h1>

                    <!-- USERNAME -->
                    <div class="input-control">
                        <label for="user">Username</label></td>
                        <input type="text" id="user" name="user">
                        <div class="errormessage"></div>
                    </div>
                    <!-- PASSWORD -->
                    <div class="input-control">
                        <label for="password"> Password </label>
                        <input type="password" id="password" name="password">
                        <div class="errormessage"></div>
                    </div>

                    <!-- Formular absenden -->
                    <button type="submit">Login</button>

                </form> <!-- Formular Ende -->

                <div id="switchcontainer">
                    <a href="/signup" id="switchLoginSignup">Sign Up</a>
                </div>

            </main>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>