* {
    box-sizing: border-box;
}

@font-face {
    font-family: "CinnamonCoffeCake";
    src: url('fonts/CinnamonCoffeCake-Ea2Pr.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--body-background);
}

:root {
    --gray: rgba(218, 224, 230, 1);
    --white: #ffffff;
    --border: rgb(150, 150, 150);
    --primary-background: #98A36C;
    --body-background: rgba(152, 163, 108, 0.5);
    --secondary-background: #fcf7b6;
    --text: #202020;
    --nav-text: #202020;
}

.titlebanner {
    background-image: url(/page_images/banner.svg);
    background-repeat: repeat;
    background-position-y: 3px;
    padding: 2rem;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
}

.heading {
    font-family: 'CinnamonCoffeCake';
    margin: auto;
    padding: .7rem;
    background-color: rgba(152, 163, 108, 0.9);
    width: clamp(18rem, 50vw, 40rem);
    border-radius: 1rem;
    color: var(--white);
}

h1 {
    font-size: clamp(2rem, 8vw, 3rem);
    text-align: center;
    color: var(--text);
}

h2 {
    font-size: clamp(1.5rem, 8vw, 2.3rem);
    color: var(--text);
}

p,
label,
span {
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin: 0;
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

.no-linebreak {
    white-space: nowrap;
}