.recipe-container{
    display: grid;
    gap: .5em;
    margin: 1em;
}

.recipe {
    border: 1px solid var(--border);
    border-radius: .5em;
    padding: 1em;
    background-color: var(--secondary-background);
    overflow: hidden;
}


/* On screens that are 992px or more (TABLET/DESKTOP) */
@media screen and (min-width: 600px) {

}

/* On screens that are 992px or more (DESKTOP) */
@media screen and (min-width: 992px) {

    .recipe-container{
        grid-template-columns: 1fr 1fr;
    }


}
